<h1>Congratulations, you scored <%= @participant.score %> out of <%= @max_score %> points!</h1><br>
<p>
  <%= link_to "Home", "/quizzes", :class => 'btn btn-primary' %>
  <%= link_to "Try again", "/#{@quiz.uuid}", :class => 'btn btn-warning' %>
</p>
