<h1>Welcome to Pocket Quiz 2, <%= $user.name %></h1>
    <p>
      You've signed up to Pocket Quiz 2
      with this e-mail: <%= $user.email %><br>
    </p>
    <p>Your confirmation token is: <strong><%= $user.token %></strong></p>
    <p>Thanks for joining and have a great day!</p>
</h1>

